body{
    margin:0 auto;
    position: relative;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

/* nav bar */

.nav-bar{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar svg{
    margin-left: 30px;
    padding: 15px;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    cursor: pointer; 
}
a {
    color: black;
    text-decoration: none;
  }
a:hover, .about-link:hover {
    color: rgb(255, 152, 0);
}
.support-link{
    border: 1px solid rgb(255, 152, 0);
    background: transparent;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0px;
    color: rgb(51, 51, 51);
}
.support-link:hover {
    background-color: rgb(255, 152, 0);
    color: white;  
}

/* Content */

.scrolldown-btn {
    height: 45px;
    width: 45px;
    position: fixed;
    top: 40rem;
    right: 40px;
    border-radius: 50%;
    background-color: rgb(60, 62, 68);
}

.scrolldown-btn:hover {
    transform: scale(1.1);
}

.content {
    min-height: 90%;
    width: 100%;
    margin: 0 auto;
}

.content-title{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    
}
.content-title svg {
    width: 100%;
    height: 100%;
    fill: rgb(245, 245, 245);
}
.virsraksts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
    
}
.content-characters {
    background-color: rgb(39, 43, 51);
    height: auto;
    min-height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4.5rem 0px;
}

#page {
    font-weight: bolder;
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 50px;
}

#content-characters-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}
.content-characters-inner-kastes {
    width: 39%;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.content-characters-inner-kastes-bilde {
    height: 100%;
    width: 200px;
    background-color: brown;
}
.content-characters-inner-kastes-teksts {
    flex: 3 1 0%;
    width: 60%;
    height: 90%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-characters-inner-kastes-teksts-top {
    height: 25%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    
}
.content-characters-inner-kastes-teksts-middle {
    justify-content: flex-start;
}
.content-characters-inner-kastes-teksts-bottom {
    justify-content: flex-end;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
  }
  
  .button {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    color: white;  
    margin: 0 4px;
    border-radius: 5px;
    background-color: rgb(60, 62, 68);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .button:active {
    background-color: gray;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
  } 
  .button:hover {
    border: 1px solid transparent;
    background-color: rgb(255, 152, 0);
    color: black;
    border-radius: 5px;
    transform: scale(1.1);
  }
  h2{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 1.5rem;
    color: rgb(255, 152, 0);
  }
  h3 {
    color: aliceblue;
    padding-left: 25px;
    margin-top: 0;
    
  }
  .Virsraksti {
    color: lightblue;
    margin:0;
  }

  .statusImg{
    height: 10px;
    width: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 6px;
  }